<form [formGroup]="form" (ngSubmit)="submit()">
    <h1 mat-dialog-title>Add Menu</h1>
    <div mat-dialog-content class="dialog-content">

        <mat-form-field class="menu-input">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Menu Name" formControlName="menuname">
        </mat-form-field>

        <p *ngIf="error" class="error">
            {{ error }}
        </p>
    </div>
    <div mat-dialog-actions>
        <div>
            <button mat-button type="submit">Add</button>
            <button mat-button (click)="onNoClick()" cdkFocusInitial>Cancel</button>
        </div>
    </div>
</form>