.menu-header {
    padding-bottom: 2rem;
    display: inline;
}
.menu-header-title {
    padding: 1rem;
}
.menu-button-add {
    float: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.menu-page {
    padding: 2rem;
}


 